
<h2> Document Templates </h2>

<div class="horizMenu" onclick="editWithTemplate('')"> Blank page </div>
<div class="horizMenu" onclick="editWithTemplate('cwikblank.md')"> Blank page with CWIK header </div>
<div class="horizMenu" onclick="editWithTemplate('opcodetemplate.md')"> OP_CODE template </div>

<h2> Editing Help </h2>

<a href="editsyntax.md" target="_blank">CWIK Markdown Syntax</a> 
